EIA_API_KEY=replace_with_your_eia_api_key
EIA_BASE_URL=https://api.eia.gov/v2/electricity/rto/region-data/data/

POSTGRES_DB=gridops
POSTGRES_USER=gridops
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432